.profile-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-card {
  background-color: var(--app-fill-color);
  padding: 30px 25px;
  margin: 2vh 2vw;
  border-radius: 12px;
  width: 100%;
  max-width: 600px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.profile-picture-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;

}

.profile-picture {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #007bff;
}

.username-container {
  display: flex;
  justify-content: center;
}

.profile-info {
  display: flex;
  flex-direction: column;
  gap: 6px;
  text-align: left;
  list-style: none;
}

.profile-info-field {
  display: flex;
  align-items: center;
}

.profile-info-field:hover {
  cursor: pointer;
}

.edit-field-icon {
  margin-left: 8px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.profile-info-field:hover .edit-field-icon {
  visibility: visible;
  opacity: 1;
}