.landing-container {
  width: 100%;
  min-height: 100vh;
  padding: 15px 15vw;
  display: flex;
  flex-direction: column;
  background-color: #007bff;
  color: white;
}

.brand-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.brand-header h1 {
  font-size: 2rem;
  margin: 0;
}

.cta-section {
  display: flex;
  flex-direction: column;
  width: 45vw;
  margin: 10vh 0;
}

.cta-section h2 {
  margin: 0;
  font-size: 3.5rem;
  line-height: 2.8rem;
}

.cta-section h3 {
  margin: 0;
  font-size: 1.5rem;
  line-height: 1.3rem;
}

.cta-subtext {
  margin-top: 8px;
}

.landing-btn-group {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

.landing-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: #007bff;
  height: 40px;
  max-width: 250px;
  width: 100%;
  border-radius: 15px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.landing-btn:hover {
  background-color: #0056b3;
  color: #ffffff;
}

@media (max-width: 768px) {
  .landing-container {
    padding: 15px 4vw;
  }

  .cta-section {
    width: 90vw;
  }
}